@font-face {
    font-family: RobotoCondensedBold;
    src: url(../fonts/RobotoCondensedBold.eot);
    src: local('☺'), url('../fonts/RobotoCondensedBold.woff') format('woff'), url('../fonts/RobotoCondensedBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoCondensedLight;
    src: url(../fonts/RobotoCondensedLight.eot);
    src: local('☺'), url('../fonts/RobotoCondensedLight.woff') format('woff'), url('../fonts/RobotoCondensedLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-medium;
    src: url(../fonts/roboto-medium.ttf);
}

@font-face {
    font-family: Roboto-thin;
    src: url(../fonts/roboto-thin.ttf);
}

$gradient: linear-gradient(45deg,
#18f585,
#58dd9a);
body {
    font-family: Roboto-medium;
}

.section-lvl-1-main-page {
    background-image: url(../img/main-baner.jpg);
    background-position: center;
    background-size: cover;
    header {
        display: flex;
        align-items: center;
        margin-bottom: 85px;
        .side {
            width: 100%;
            padding: 0 50px;
        }
        .left-side {
            h4 {
                color: #fff;
                background-image: url(../img/logo.png);
                background-repeat: no-repeat;
                font-size: 25px;
                font-family: RobotoCondensedLight;
                text-transform: uppercase;
                padding: 5px 0 2px 70px;
                span {
                    font-family: RobotoCondensedBold;
                }
            }
        }
        .mid-side {
            flex-shrink: 0;
            width: 250px;
            background: $gradient;
            padding: 24px;
            p {
                font-family: Roboto-medium;
                font-size: 17px;
                color: #fff;
            }
        }
        .right-side {
            p {
                color: #fff;
                font-family: Roboto-Light;
                font-size: 17px;
                span {
                    display: block;
                    font-family: Roboto-medium;
                    position: relative;
                    padding-left: 20px;
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 8px;
                        left: 0;
                        background: #18f585;
                        border-radius: 50%;
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }
    }
    .main-baner-wrapp {
        .head-baner {
            text-align: center;
            font-size: 44px;
            font-weight: normal;
            color: #fff;
            font-family: Roboto-medium;
            margin-bottom: 85px;
        }
        .second-text-baner {
            max-width: 770px;
            margin: 0 auto 40px auto;
            color: #fff;
            text-align: center;
            font-size: 22px;
        }
        .steps {
            margin-bottom: 45px;
            .step {
                display: flex;
                padding-top: 30px;
                overflow: hidden;
                .counter {
                    flex-shrink: 0;
                    position: relative;
                    left: -9px;
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -30px;
                        width: 100%;
                        height: 5px;
                        background: $gradient;
                    }
                    span {
                        color: #18f585;
                        font-family: Roboto-thin;
                        font-size: 30px;
                    }
                }
                .desc {
                    width: 100%;
                    padding-left: 20px;
                    p {
                        font-size: 17px;
                        color: #fff;
                        font-family: Roboto-Light;
                        padding-top: 6px;
                    }
                }
            }
        }
        .sing-up-wr {
            max-width: 840px;
            margin: 0 auto 300px auto;
            display: flex;
            flex-wrap: wrap;
            .item-sing-up {
                width: 50%;
                padding: 10px;
                span {
                    display: block;
                    text-align: center;
                    padding: 15px 0;
                    cursor: pointer;
                    font-family: RobotoCondensedBold;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #fff;
                    letter-spacing: 3px;
                    background-repeat: no-repeat;
                    background-position: center left 20px;
                    &.mail-butt {
                        background-color: #272727;
                        background-image: url(../img/mail-icon.png);
                    }
                    &.face-butt {
                        background-color: #3b5998;
                        background-image: url(../img/fb-icon.png);
                        background-position: center left 27px;
                    }
                    &.vk-butt {
                        background-color: #45668e;
                        background-image: url(../img/vk-icon.png);
                    }
                    &.telega-butt {
                        background-color: #0088cc;
                        background-image: url(../img/telega-icon.png);
                    }
                }
            }
        }
    }
}
