@charset "UTF-8";
@font-face {
  font-family: RobotoCondensedBold;
  src: url(../fonts/RobotoCondensedBold.eot);
  src: local("☺"), url("../fonts/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: RobotoCondensedLight;
  src: url(../fonts/RobotoCondensedLight.eot);
  src: local("☺"), url("../fonts/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf); }
@font-face {
  font-family: Roboto-medium;
  src: url(../fonts/roboto-medium.ttf); }
@font-face {
  font-family: Roboto-thin;
  src: url(../fonts/roboto-thin.ttf); }
body {
  font-family: Roboto-medium; }

.section-lvl-1-main-page {
  background-image: url(../img/main-baner.jpg);
  background-position: center;
  background-size: cover; }
  .section-lvl-1-main-page header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 85px; }
    .section-lvl-1-main-page header .side {
      width: 100%;
      padding: 0 50px; }
    .section-lvl-1-main-page header .left-side h4 {
      color: #fff;
      background-image: url(../img/logo.png);
      background-repeat: no-repeat;
      font-size: 25px;
      font-family: RobotoCondensedLight;
      text-transform: uppercase;
      padding: 5px 0 2px 70px; }
      .section-lvl-1-main-page header .left-side h4 span {
        font-family: RobotoCondensedBold; }
    .section-lvl-1-main-page header .mid-side {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      width: 250px;
      background: linear-gradient(45deg, #18f585, #58dd9a);
      padding: 24px; }
      .section-lvl-1-main-page header .mid-side p {
        font-family: Roboto-medium;
        font-size: 17px;
        color: #fff; }
    .section-lvl-1-main-page header .right-side p {
      color: #fff;
      font-family: Roboto-Light;
      font-size: 17px; }
      .section-lvl-1-main-page header .right-side p span {
        display: block;
        font-family: Roboto-medium;
        position: relative;
        padding-left: 20px; }
        .section-lvl-1-main-page header .right-side p span:before {
          content: "";
          display: block;
          position: absolute;
          top: 8px;
          left: 0;
          background: #18f585;
          border-radius: 50%;
          width: 8px;
          height: 8px; }
  .section-lvl-1-main-page .main-baner-wrapp .head-baner {
    text-align: center;
    font-size: 44px;
    font-weight: normal;
    color: #fff;
    font-family: Roboto-medium;
    margin-bottom: 85px; }
  .section-lvl-1-main-page .main-baner-wrapp .second-text-baner {
    max-width: 770px;
    margin: 0 auto 40px auto;
    color: #fff;
    text-align: center;
    font-size: 22px; }
  .section-lvl-1-main-page .main-baner-wrapp .steps {
    margin-bottom: 45px; }
    .section-lvl-1-main-page .main-baner-wrapp .steps .step {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 30px;
      overflow: hidden; }
      .section-lvl-1-main-page .main-baner-wrapp .steps .step .counter {
        -ms-flex-negative: 0;
            flex-shrink: 0;
        position: relative;
        left: -9px; }
        .section-lvl-1-main-page .main-baner-wrapp .steps .step .counter:before {
          content: "";
          display: block;
          position: absolute;
          top: -30px;
          width: 100%;
          height: 5px;
          background: linear-gradient(45deg, #18f585, #58dd9a); }
        .section-lvl-1-main-page .main-baner-wrapp .steps .step .counter span {
          color: #18f585;
          font-family: Roboto-thin;
          font-size: 30px; }
      .section-lvl-1-main-page .main-baner-wrapp .steps .step .desc {
        width: 100%;
        padding-left: 20px; }
        .section-lvl-1-main-page .main-baner-wrapp .steps .step .desc p {
          font-size: 17px;
          color: #fff;
          font-family: Roboto-Light;
          padding-top: 6px; }
  .section-lvl-1-main-page .main-baner-wrapp .sing-up-wr {
    max-width: 840px;
    margin: 0 auto 300px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .section-lvl-1-main-page .main-baner-wrapp .sing-up-wr .item-sing-up {
      width: 50%;
      padding: 10px; }
      .section-lvl-1-main-page .main-baner-wrapp .sing-up-wr .item-sing-up span {
        display: block;
        text-align: center;
        padding: 15px 0;
        cursor: pointer;
        font-family: RobotoCondensedBold;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        letter-spacing: 3px;
        background-repeat: no-repeat;
        background-position: center left 20px; }
        .section-lvl-1-main-page .main-baner-wrapp .sing-up-wr .item-sing-up span.mail-butt {
          background-color: #272727;
          background-image: url(../img/mail-icon.png); }
        .section-lvl-1-main-page .main-baner-wrapp .sing-up-wr .item-sing-up span.face-butt {
          background-color: #3b5998;
          background-image: url(../img/fb-icon.png);
          background-position: center left 27px; }
        .section-lvl-1-main-page .main-baner-wrapp .sing-up-wr .item-sing-up span.vk-butt {
          background-color: #45668e;
          background-image: url(../img/vk-icon.png); }
        .section-lvl-1-main-page .main-baner-wrapp .sing-up-wr .item-sing-up span.telega-butt {
          background-color: #0088cc;
          background-image: url(../img/telega-icon.png); }

/*# sourceMappingURL=style.css.map */